nav.menu li{
    color: #ffffff !important;
}
nav.menu li:hover{
    color: #777777  !important;
}
.logo{
    color:#fff !important;
}
.logo_img{
    background: url('../images/logo_white.png')  no-repeat scroll center 0px transparent; 
    height: 64px;  
    width: 196px;
}
.leyend{
    color: #ffffff !important;
}