SetEnv PHP_VER 5
#php_value display_errors 0
#php_value upload_max_filesize 50M

Options +FollowSymlinks
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#ErrorDocument 500 /?page=error&msg=interror
#ErrorDocument 404 /?page=error&msg=wrongurl
#ErrorDocument 403 /?page=error&msg=forbidden
#ErrorDocument 401 /?page=error&msg=auth
RewriteRule ^(.*)$ imagenation/intranet/index.php?url=$1 [QSA,L]

#RewriteRule ^captcha/(.*)$ /modules/captcha/cryptographp.php&%{QUERY_STRING} [L]
#RewriteRule ^error/(.*)/$ ?page=error&msg=$1&%{QUERY_STRING} [L]
#RewriteRule ^photo/(.*)/$ ?page=photo&id=$1&%{QUERY_STRING} [L]
#RewriteRule ^motion/(.*)/$ ?page=motion&id=$1&%{QUERY_STRING} [L]
#RewriteRule ^makingof/(.*)/$ ?page=makingof&id=$1&%{QUERY_STRING} [L]
#RewriteRule ^location/(.*)/$ ?page=location&id=$1&%{QUERY_STRING} [L]
#RewriteRule ^(.+)/(.+)/(.+),(.+)/(.+),(.+)/$ ?page=$1&menu=$2&$3=$4&$5=$6&%{QUERY_STRING} [L]
#RewriteRule ^(.+)/(.+)/(.+),(.+)/$ ?page=$1&menu=$2&$3=$4&%{QUERY_STRING} [L]
#RewriteRule ^(.+)/(.+)/(.+)/$ ?page=$1&menu=$2&smenu=$3&%{QUERY_STRING} [L]
#RewriteRule ^(.+)/(.+)/$ ?page=$1&menu=$2&%{QUERY_STRING} [L]
#RewriteRule ^(.+)/$ ?page=$1&%{QUERY_STRING} [L]

#AddType application/x-httpd-php .css
AddType application/x-httpd-php .html